/* Basic Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    color: rgb(8, 2, 2);
    text-align: center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Header Section */
header {
    background: rgba(107, 196, 107, 0.7); /* Semi-transparent background */
    padding: 20px 0;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

/* Main Content */
main {
    background: rgba(109, 191, 101, 0.5); /* Semi-transparent background */
    padding: 50px 20px;
    text-align: center;
}

/* Main Content Paragraph */
main p {
    font-size: 1.2em;
    line-height: 1.8;
    margin-bottom: 20px;
}

/* Footer Section */
footer {
    background: rgba(0, 0, 0, 0.9); /* Dark background */
    padding: 20px 0;
}

footer p {
    font-size: 1.1em;
    margin: 0;
}
